IMPORTING NECESSARY LIBRARIES
---------------

In [1]:
import pandas as pd
import numpy as np

LOAD TRAIN DATASET
----

In [2]:
dataset=pd.read_csv('Loan Prediction - TRAIN DATASET.csv')

SUMMARIZE TRAIN DATASET
---

In [3]:
print("The rows and columns of the data :",dataset.shape)
print("-" * 80)

print(dataset.info())
print("-" * 80)

print(dataset.head(10))
print("-" * 80)

print(dataset.describe())

The rows and columns of the data : (614, 13)
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None
--------------------------------------------------------------------------------
    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No
5  LP001011   Male     Yes          2      Graduate           Yes
6  LP001013   Male     Yes          0  Not Graduate            No
7  LP001014   Male     Yes         3+      Graduate            No
8  LP001018   Male     Yes          2      Graduate            No
9  LP001020   Male     Yes          1      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0
5             5417             4196.0       267.0             360.0
6             2333             1516.0        95.0             360.0
7             3036             2504.0       158.0             360.0
8             4006             1526.0       168.0             360.0
9            12841            10968.0       349.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y
5             1.0         Urban           Y
6             1.0         Urban           Y
7             0.0     Semiurban           N
8             1.0         Urban           Y
9             1.0     Semiurban           N
--------------------------------------------------------------------------------
       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000

PREPROCESSING THE DATASET
-------------------------------------------------

STEP1:
----
          DELETE THE UNWANTED COLUMNS FROM THE DATASET.

In [4]:
data=dataset.drop('Loan_ID',axis=1)
print(data.head())

  Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
0   Male      No          0      Graduate            No             5849
1   Male     Yes          1      Graduate            No             4583
2   Male     Yes          0      Graduate           Yes             3000
3   Male     Yes          0  Not Graduate            No             2583
4   Male      No          0      Graduate            No             6000

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                0.0         NaN             360.0             1.0
1             1508.0       128.0             360.0             1.0
2                0.0        66.0             360.0             1.0
3             2358.0       120.0             360.0             1.0
4                0.0       141.0             360.0             1.0

  Property_Area Loan_Status
0         Urban           Y
1         Rural           N
2         Urban           Y
3         Urban           Y
4         Urban           Y

STEP 2:
---
            FIND OUT THE NULL VALUES OR EMPTY CELLS FROM THE DATASET 
            AND SUM THE NUMBER OF NULL VALUES.

In [5]:
print(data.columns[data.isna().any()])
print("\n Number of NULL values in each column:\n",'*' * 50)
print(data.isna().sum())

Index(['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

 Number of NULL values in each column:
 **************************************************
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
print(dataset.describe(include = 'all'))

         Loan_ID Gender Married Dependents Education Self_Employed  \
count        614    601     611        599       614           582
unique       614      2       2          4         2             2
top     LP001002   Male     Yes          0  Graduate            No
freq           1    489     398        345       480           500
mean         NaN    NaN     NaN        NaN       NaN           NaN
std          NaN    NaN     NaN        NaN       NaN           NaN
min          NaN    NaN     NaN        NaN       NaN           NaN
25%          NaN    NaN     NaN        NaN       NaN           NaN
50%          NaN    NaN     NaN        NaN       NaN           NaN
75%          NaN    NaN     NaN        NaN       NaN           NaN
max          NaN    NaN     NaN        NaN       NaN           NaN

        ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count        614.000000         614.000000  592.000000         600.00000
unique              NaN                NaN         NaN               NaN
top                 NaN                NaN         NaN               NaN
freq                NaN                NaN         NaN               NaN
mean        5403.459283        1621.245798  146.412162         342.00000
std         6109.041673        2926.248369   85.587325          65.12041
min          150.000000           0.000000    9.000000          12.00000
25%         2877.500000           0.000000  100.000000         360.00000
50%         3812.500000        1188.500000  128.000000         360.00000
75%         5795.000000        2297.250000  168.000000         360.00000
max        81000.000000       41667.000000  700.000000         480.00000

        Credit_History Property_Area Loan_Status
count       564.000000           614         614
unique             NaN             3           2
top                NaN     Semiurban           Y
freq               NaN           233         422
mean          0.842199           NaN         NaN
std           0.364878           NaN         NaN
min           0.000000           NaN         NaN
25%           1.000000           NaN         NaN
50%           1.000000           NaN         NaN
75%           1.000000           NaN         NaN
max           1.000000           NaN         NaN

In [7]:
data['Gender'].fillna('Male',inplace = True)
data['Married'].fillna('Yes',inplace = True)
data['Dependents'].fillna('0',inplace = True)
data['Self_Employed'].fillna('No',inplace = True)
data['LoanAmount'].fillna(round(data['LoanAmount'].mean()),inplace = True)
data['Loan_Amount_Term'].fillna(round(data['Loan_Amount_Term'].mean()),inplace = True)
data['Credit_History'].fillna(round(data['Credit_History'].mean()),inplace = True)

In [8]:
print("\n Number of NULL values in each column:\n",'*' * 50)
print(data.isna().sum())

 Number of NULL values in each column:
 **************************************************
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

STEP 3:
---         
            Encode the categorigal value into Numbberical format.

In [9]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

data['Gender']= lb.fit_transform(data['Gender'])
print(lb.classes_)
print("Gender:\n    Male = 1\n    Female = 0")
print("*" * 30)

data['Married']= lb.fit_transform(data['Married'])
print(lb.classes_)
print("Married:\n    Yes = 1\n    No = 0")
print("*" * 30)

data['Dependents']= lb.fit_transform(data['Dependents'])
print(lb.classes_)
print("Dependents:\n    0 = 0\n    1 = 1\n    2 = 2\n    3+ = 3")
print("*" * 30)

data['Education']= lb.fit_transform(data['Education'])
print(lb.classes_)
print("Education:\n    Graduate = 0\n    Not Graduate = 1")
print("*" * 30)

data['Self_Employed']= lb.fit_transform(data['Self_Employed'])
print(lb.classes_)
print("Self_Employed:\n    Yes = 1\n    No = 0")
print("*" * 30)

data['Property_Area']= lb.fit_transform(data['Property_Area'])
print(lb.classes_)
print("Property_Area:\n    Rural = 0\n    Semiurban = 1\n    Urban = 2")
print("*" * 30)

data['Loan_Status']= lb.fit_transform(data['Loan_Status'])
print(lb.classes_)
print("Loan_Status:\n    Y = 1\n    N = 0")
print("*" * 30)

['Female' 'Male']
Gender:
    Male = 1
    Female = 0
******************************
['No' 'Yes']
Married:
    Yes = 1
    No = 0
******************************
['0' '1' '2' '3+']
Dependents:
    0 = 0
    1 = 1
    2 = 2
    3+ = 3
******************************
['Graduate' 'Not Graduate']
Education:
    Graduate = 0
    Not Graduate = 1
******************************
['No' 'Yes']
Self_Employed:
    Yes = 1
    No = 0
******************************
['Rural' 'Semiurban' 'Urban']
Property_Area:
    Rural = 0
    Semiurban = 1
    Urban = 2
******************************
['N' 'Y']
Loan_Status:
    Y = 1
    N = 0
******************************

In [10]:
print(data.head())

   Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
0       1        0           0          0              0             5849
1       1        1           1          0              0             4583
2       1        1           0          0              1             3000
3       1        1           0          1              0             2583
4       1        0           0          0              0             6000

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                0.0       146.0             360.0             1.0
1             1508.0       128.0             360.0             1.0
2                0.0        66.0             360.0             1.0
3             2358.0       120.0             360.0             1.0
4                0.0       141.0             360.0             1.0

   Property_Area  Loan_Status
0              2            1
1              0            0
2              2            1
3              2            1
4              2            1

STEP 4:
----
            Split x_train  and y_train from the dataset.

In [11]:
x_train = data.iloc[:,:-1].values
y_train = data.iloc[:,-1].values

STEP 5:
---
            Convert X_train value into Standard values.

In [12]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x_train= ss.fit_transform(x_train,y_train)

STEP 6:
---
            Fit the model using Logistic Regression.

In [13]:
from sklearn.linear_model import LogisticRegression
LoR = LogisticRegression(random_state = 0)
model=LoR.fit(x_train,y_train)

Result:
---
            The model is created using Logistic Regression with Train dataset of Loan Prediction.
           
--------------------------------------------------------------------------------------------------------------------------------

                        **PREDICT THE LOAN STATUS using Model the above model**
                        --------------------------------------------------------

In [14]:
dataset1=pd.read_csv('Loan Prediction - Test DATASET.csv')

In [15]:
test_data =dataset1.drop('Loan_ID',axis=1)

In [16]:
test_data.dropna(axis = 0, inplace =True)

In [17]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

test_data['Gender']= lb.fit_transform(test_data['Gender'])
test_data['Married']= lb.fit_transform(test_data['Married'])
test_data['Dependents']= lb.fit_transform(test_data['Dependents'])
test_data['Education']= lb.fit_transform(test_data['Education'])
test_data['Self_Employed']= lb.fit_transform(test_data['Self_Employed'])
test_data['Property_Area']= lb.fit_transform(test_data['Property_Area'])

In [20]:
x_test = test_data.iloc[:,:].values
x_test = ss.transform(x_test)

In [21]:
y_pred=model.predict(x_test)
y_pred

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1])

                Predict the loan sension by gettinng the data(features) from the user.
              ------------------------------------------------------------------------------

In [23]:
print("Enter Your Gender:")
print(" 'MALE' as 1")
print(" 'FEMALE' as 0")
gen = int(input())
print("-" * 50)

print("If you married or not:")
mar = int(input(" 'YES' as 1\n 'NO' as 0\n"))
print("-" * 50)


print("Number of dependents You have:")
dep = int(input(" '0' as 0\n '1' as 1\n '2' as 2\n '3+' as 3\n"))
print("-" * 50)

print("Enter Your Qualification:")
qua = int(input(" 'GRADUATE' as 1\n 'NOT GRADUATE' as 0\n"))
print("-" * 50)

print("If you Self-Employed or not:")
semp = int(input(" 'YES' as 1\n 'NO' as 0\n"))
print("-" * 50)

print("Enter the Apllicant Monthly Income(without space or comma):")
appin = int(input())
print("-" * 50)

print("Enter the Co-applicant Monthly Income(without space or comma):")
coappin = int(input())
print("-" * 50)

print("Enter the Loan Amount(without space or comma):")
amo = int(input())
print("-" * 50)

print("Enter the Loan Amount Term(without space or comma):")
ter = int(input())
print("-" * 50)

print("Enter your Credit History by 1 or 0:")
cred = int(input())
print("-" * 50)

print("Enter your Property Location:")
loc = int(input(" 'RURAL' as 0\n 'SEMI-URBAN' as 1\n 'URBAN' as 2\n"))
print("*-*-" * 20)


new=[[gen,mar,dep,qua,semp,appin,coappin,amo,ter,cred,loc]]
new = ss.transform(new)

result=model.predict(new)
print(result)
if result==1:
    print("Loan will be Sension.")
else:
    print("Loan will not be Sension.")

Enter Your Gender:
 'MALE' as 1
 'FEMALE' as 0
1
--------------------------------------------------
If you married or not:
 'YES' as 1
 'NO' as 0
0
--------------------------------------------------
Number of dependents You have:
 '0' as 0
 '1' as 1
 '2' as 2
 '3+' as 3
3
--------------------------------------------------
Enter Your Qualification:
 'GRADUATE' as 1
 'NOT GRADUATE' as 0
0
--------------------------------------------------
If you Self-Employed or not:
 'YES' as 1
 'NO' as 0
0
--------------------------------------------------
Enter the Apllicant Monthly Income(without space or comma):
15600
--------------------------------------------------
Enter the Co-applicant Monthly Income(without space or comma):
12000
--------------------------------------------------
Enter the Loan Amount(without space or comma):
1000000
--------------------------------------------------
Enter the Loan Amount Term(without space or comma):
6000
--------------------------------------------------
Enter your Credit History by 1 or 0:
0
--------------------------------------------------
Enter your Property Location:
 'RURAL' as 0
 'SEMI-URBAN' as 1
 'URBAN' as 2
0
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
[0]
Loan will not be Sension.